{% extends 'base.html' %}

{% block body %}
    <div class="container mt-3">
        <div class="row border mt-4 p-2 meupost">
            <div class="col col-3">
                <div class="image pe-2">
                    <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil))  }}" class="rounded" width="200" >
                </div>
                <strong>{{ post.autor.username }}</strong>
                <div class="col" style="text-align: left">
                    {% for habilidade in post.autor.habilidades.split(';') %}
                    <button type="button" class="btn btn-success mt-2" disabled>{{ habilidade }}</button>
                    {% endfor %}
                </div>
            </div>

            <div class="col col-9">
                <h3>{{ post.titulo }}</h3>
                <p>{{ post.descricao }}</p>
            </div>
        </div>
    </div>
{% endblock %}